@charset "UTF-8";
body {
    background-color: rgba(31, 31, 182, 0.555);
    font: normal 15pt Arial;
}

header {
    text-align: center;
    color: white;
    
}

section {
    background-color: white;    
    border-radius: 6px;
    padding: 15px;
    width: 500px;
    margin:auto;
    color:black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.377);
}

footer {
    text-align: center;
    font-style: italic;
}